<?xml version="1.0"?>
<configuration>
  <DB>
    <connectionString>jdbc:postgresql://onda.prodevelop.es:5432/cscfusion</connectionString>
    <driverName>org.postgresql.Driver</driverName>
	<user>osm</user>
    <pwd>osmpas</pwd>
    
    <host>onda.prodevelop.es</host>
    <port>5432</port>
    <name>cscfusion</name>
    
    <resetScript>db/fe_ocd_reset_postgres.sql</resetScript>
    <scriptSeparator>;</scriptSeparator>
    
    <geometryFromLonLatSrid>ST_SetSRID(ST_MakePoint({0}, {1}), {2})</geometryFromLonLatSrid>
    <lonFromPoint>ST_X({0})</lonFromPoint>
    <latFromPoint>ST_Y({0})</latFromPoint>
    
  </DB>
  <platform>linux</platform>
  <installDir>/var/www/projects/ficontent/</installDir>
  <mappingDir>/var/www/projects/ficontent/</mappingDir>
  <fusionDir>/var/www/projects/ficontent/</fusionDir>
  <apiRulesDir>/var/www/projects/ficontent/</apiRulesDir>
</configuration>
